body {
  margin: 50px;
  margin-top: 100px;
}		

h1, h2, p, tr, li, ul{
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
}

p{
  font-size: 1.2em;
  margin-bottom: 2em;
}

p.tight{
  margin-bottom: 0em;
}

ul {
  list-style-type: none;
  background-color: #cdcdcd;
  margin: 0;
  padding-left: 50;
  padding-right: 50;
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
}

li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.3em;
}
li a:hover {
  background-color: #dddddd;
}

